[submodule "static/static_rtl/hwpe-stream"]
	path = static/static_rtl/hwpe-stream
	url = ssh://git@github.com:pulp-platform/hwpe-stream.git
[submodule "static/static_rtl/hwpe-ctrl"]
	path = static/static_rtl/hwpe-ctrl
	url = ssh://git@github.com:pulp-platform/hwpe-ctrl.git
